/*Extra small devices (portrait phones, less than 576px)*/

@media (max-width: 575.98px) {
    .navbar-collapse {
        background: rgba(23, 23, 23, 0.95);
        z-index: 1;
        padding: 20px 0px;
    }


    .nav-link {
        color: white;
        text-align: center;
        padding: 10px;
        border-bottom: 1px solid lightgray;
    }

    .carousel-item {
        text-align: center;
    }

    .banner-content h1 {
        font-size: 30px;
        z-index: 0;
    }

    .button-01 {
        margin-bottom: 10px;
        margin-right: 0px;
    }

    .button-02 {
        margin-bottom: 10px;
        margin-right: 0px;
    }

    .banner-content p {
        font-size: 18px;
    }

    .work-area {
        padding: 50px 0px;
    }

    .service-content {
        padding: 50px 0px;
    }

    .service-content h1 {
        font-size: 30px;
        text-align: center;
        padding-left: unset;
    }

    .service-grid {
        text-align: center;
    }

    .service-content i {
        float: none;
        margin-bottom: 20px;
        padding-left: unset;
    }

    .service-text {
        padding-left: unset;
    }

    .counter-content {
        margin-bottom: 30px;
    }

    .counter-area {
        padding: 50px 0px;
    }

    .portfolio-area {
        padding: 50px 0px;
    }

    .title h1 {
        font-size: 19px;
    }

    .portfolio-grids {
        margin-top: unset;
    }

    .features {
        padding: 30px 0px 0px;
    }

    .chooseus-area {
        padding: 50px 0px;
    }

    .video-area {
        padding: 50px 0px;
    }

    .video-content {
        margin-left: unset;
        margin-top: 25px;
        text-align: center;
    }

    .video-content h1 {
        font-size: 20px;
    }

    .testimonial-area {
        padding: 50px 0px;
    }

    .testimonial {
        padding: 30px 0px;
        margin-bottom: 30px;
        margin-top: unset;
    }

    .blog-area {
        padding: 50px 0px;
        text-align: center;
    }

    .blog-grid {
        margin-bottom: 30px;
        margin-top: unset;
    }

    .footer-area {
        padding: 50px 0px;
        text-align: center;
    }

    .additional-links-border {
        border-right: none;
    }

    .contact-info-border {
        border-right: none;
        margin-left: unset;
    }

    .insta-border {
        border-right: none;
        margin-left: unset;
        margin-top: 30px;
    }

    .contact-info {
        margin-left: unset;
    }

    .additional-links {
        margin: 30px 0px;
    }

    .footer-end {
        padding: 30px 0px;
    }

    .footer-end p {
        text-align: center;
    }


}

/*Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) and (max-width: 767.98px) {
    .navbar-collapse {
        background: rgba(23, 23, 23, 0.95);
        z-index: 1;
        padding: 20px 0px;
    }

    .nav-link {
        color: white;
        text-align: center;
        border-bottom: 1px solid lightgray;
    }

    .banner-area {
        text-align: center;

    }

    .banner-content h1 {
        font-size: 30px;
        z-index: 0;
    }

    .button-01 {
        margin-bottom: 10px;
        margin-right: 0px;
    }

    .button-02 {
        margin-bottom: 10px;
        margin-right: 0px;
    }

    .banner-content p {
        font-size: 18px;
    }

    .work-area {
        padding: 50px 0px;
    }

    .service-content {
        padding: 50px 0px;
    }

    .service-content h1 {
        font-size: 30px;
        text-align: center;
        padding-left: unset;
    }

    .service-grid {
        text-align: center;
    }

    .service-content i {
        float: none;
        margin-bottom: 20px;
        padding-left: unset;
    }

    .service-text {
        padding-left: unset;
    }

    .counter-content {
        margin-bottom: 30px;
    }

    .counter-area {
        padding: 50px 0px;
    }

    .portfolio-area {
        padding: 50px 0px;
    }

    .title h1 {
        font-size: 19px;
    }

    .portfolio-grids {
        margin-top: unset;
    }

    .features {
        padding: 30px 0px 0px;
    }

    .chooseus-area {
        padding: 50px 0px;
    }

    .video-area {
        padding: 50px 0px;
    }

    .video-content {
        margin-left: unset;
        margin-top: 25px;
        text-align: center;
    }

    .video-content h1 {
        font-size: 20px;
    }

    .testimonial-area {
        padding: 50px 0px;
    }

    .testimonial {
        padding: 30px 0px;
        margin-bottom: 30px;
        margin-top: unset;
    }

    .blog-area {
        padding: 50px 0px;
        text-align: center;
    }

    .blog-grid {
        margin-bottom: 30px;
        margin-top: unset;
    }

    .footer-area {
        padding: 50px 0px;
        text-align: center;
    }

    .footer-logo-border {
        border-right: unset;
    }

    .additional-links-border {
        border-right: none;
    }

    .contact-info-border {
        border-right: none;
        margin-left: unset;
    }

    .insta-border {
        border-right: none;
        margin-left: unset;
        margin-top: 30px;
    }

    .contact-info {
        margin-left: unset;
    }

    .additional-links {
        margin: 30px 0px;
    }

    .footer-end {
        padding: 30px 0px;
    }

    .footer-end p {
        text-align: center;
    }

}

/*Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) and (max-width: 991.98px) {
    .navbar-collapse {
        background: rgba(23, 23, 23, 0.95);
        z-index: 1;
        padding: 20px 0px;
    }

    .nav-link {
        color: white;
        text-align: center;
        border-bottom: 1px solid lightgray;
    }

    .banner-area {
        text-align: center;

    }

    .banner-content h1 {
        font-size: 30px;
        z-index: 0;
    }

    .button-01 {
        margin-bottom: 10px;
        margin-right: 0px;
    }

    .button-02 {
        margin-bottom: 10px;
        margin-right: 0px;
    }

    .banner-content p {
        font-size: 18px;
    }

    .work-area {
        padding: 50px 0px;
    }

    .service-content {
        padding: 50px 0px;
    }

    .service-content h1 {
        font-size: 30px;
        text-align: center;
        padding-left: unset;
    }

    .service-grid {
        text-align: center;
    }

    .service-content i {
        float: none;
        margin-bottom: 20px;
        padding-left: unset;
    }

    .service-text {
        padding-left: unset;
    }

    .counter-content {
        margin-bottom: 30px;
    }

    .counter-area {
        padding: 50px 0px;
    }

    .portfolio-area {
        padding: 50px 0px;
    }

    .title h1 {
        font-size: 19px;
    }

    .portfolio-grids {
        margin-top: unset;
    }

    .features {
        padding: 30px 0px 0px;
    }

    .chooseus-area {
        padding: 50px 0px;
    }

    .video-area {
        padding: 50px 0px;
    }

    .video-grids {
        display: flex;
        align-items: center;
    }

    .video-content {
        margin-left: unset;
        margin-top: 25px;
    }

    .video-content h1 {
        font-size: 20px;
    }

    .testimonial-area {
        padding: 50px 0px;
    }

    .testimonial {
        padding: 30px 0px;
        margin-bottom: 30px;
        margin-top: unset;
    }

    .blog-area {
        padding: 50px 0px;
        text-align: center;
    }

    .blog-grid {
        margin-bottom: 30px;
        margin-top: unset;
    }

    .footer-area {
        padding: 50px 0px;
    }

    .additional-links-border {
        border-right: none;
        display: flex;
        align-items: center;
    }

    .footer-logo-border {
        border-right: none;
        display: flex;
        align-items: center;
    }

    .contact-info-border {
        border-right: none;
        margin-left: unset;
        display: flex;
        align-items: center;
    }

    .insta-border {
        border-right: none;
        margin-left: unset;
        margin-top: 30px;
        display: flex;
        align-items: center;
    }

    .contact-info {
        margin-left: unset;
    }

    .contact-info span p {
        margin-top: unset;
    }

    .additional-links {
        margin: 30px 0px;
    }

    .footer-end {
        padding: 30px 0px;
    }
}

/*Large devices (desktops, 992px and up)*/

@media (min-width: 992px) and (max-width: 1199.98px) {}

@media (min-width: 1200px) and (max-width: 1280px) {}

@media (min-width: 1281px) and (max-width: 1366px) {}

@media (min-width: 1367px) and (max-width: 1440px) {}

@media (min-width: 1441px) and (max-width: 1600px) {}

@media (min-width: 1601px) and (max-width: 1680px) {}

@media (min-width: 1681px) and (max-width: 1920px) {}


/*Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {}
